{% extends "master.html" %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Masterlist</title>
    <link rel="stylesheet" type="text/css" href="{% static 'all_companies.css' %}">
</head>

<body>
    <div class="container">
        <h1>Company Masterlist</h1>

        <a href="{% url 'add_company' %}" class="add-company-btn">Add New Company</a>

        <ul>
            {% for x in mycompanies %}
                <li><a href="details/{{x.id}}">{{ x.name }}</a></li>
            {% endfor %}
        </ul>

        <p><a href="/">GO TO HOME</a></p>

    </div>
</body>
</html>
{% endblock %}
