{% extends "master.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'details.css' %}">

<div class="container">
    <h1>{{ mycompany.name }}</h1>

    <div class="company-info">
        <div class="info-group">
            <label>Company Type:</label>
            <span>{{ mycompany.get_type_display }}</span>
        </div>
        
        <div class="info-group">
            <label>City:</label>
            <span>{{ mycompany.city }}</span>
        </div>

        <div class="info-group">
            <label>Region:</label>
            <span>{{ mycompany.get_region_display }}</span>
        </div>

        <div class="info-group full-width">
            <label>Address:</label>
            <span>{{ mycompany.address }}</span>
        </div>
    </div>

    <div class="button-group">
        <a href="/company" class="back-link">Back to Company List</a>
    </div>
</div>
{% endblock %}
