{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'master.css' %}">
</head>
<body>
    <div class="background">
        <iframe 
            src= "https://giphy.com/embed/UiG9VNz3CXuPHmIHZP"  
            frameborder="0" 
            allowfullscreen>
        </iframe>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        &copy; {{ current_year }} My Company. All rights reserved.
    </footer>
</body>
</html>
